<ul class="collection with-header">
	<li class="collection-header">{{island.id}} {{island.name}}</li>
	<li class="collection-item">
		<span class="spot">Fishing Spot 1</span>
		<div class="fishList">
			<div class="row fish">
				<div class="col s2">FISH Name</div>
				<div class="col s2">
					<span class="star star1"></span>
				</div>
			</div>
			<div class="row fish">
				<div class="col s2">FISH Name</div>
				<div class="col s2">
					<span class="star star2"></span>
				</div>
			</div>
			<div class="row fish">
				<div class="col s2">FISH Name</div>
				<div class="col s2">
					<span class="star star3"></span>
				</div>
			</div>
		</div>
	</li>
</ul>