<li class="collection-header">{{island.id}} {{island.name}}</li>
<li class="collection-item">
	<span class="spot">Fishing Spot 1</span>
	<div>
		<div class="row fish">
			<div class="col s2">FISH Name</div>
			<div class="col s2">
				<span class="stars">
					<i class="tiny material-icons gold">star_rate</i>
				</span>
			</div>
		</div>
	</div>
</li>