<h5>Fish by Location</h5>

<div id="filters" class="section">
  <p>TODO Filters</p>
</div>

<div id="results" class="section">
  <div class="row">
    {{#each model as |island|}}
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{island.name}}</span>
          <p>STATS PLACEHOLDER</p>
          <p>Ticket : {{#if island.ticket}}{{island.ticket}}{{else}}none{{/if}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>